<template>
  <div class="profil">
    <v-row class="sepp"></v-row>
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" lg="12" class="mt-10">
          <v-toolbar dense flat>
            <v-toolbar-title class="profil-title">
              <v-avatar>
                <img :src="user.avatar" alt />
              </v-avatar>
              {{ user.lastName }} {{user.firstName }}
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-list v-for="j in profilMenu" >
              <v-list-item>
                <v-btn color="info" text>
                  <v-icon>{{ j.item }}</v-icon>
                </v-btn>
              </v-list-item>
            </v-list>
          </v-toolbar>
        </v-col>
        <span class="text-left">Mes animaux : </span>
        <v-col cols="12" sm="12" lg="12" v-for="a in animals" >
          <v-row justify="center" v-if="animals.length >= 1">
            
            <v-expansion-panels inset>
              <v-expansion-panel>
                <v-expansion-panel-header>{{ a.name }}</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-card class="mx-auto" outlined>
                    <v-list-item three-line>
                      <v-list-item-content>
                        <v-list-item-title class="headline mb-1">Nom : {{ a.name }}</v-list-item-title>
                        <v-list-item-subtitle>Particularité : {{ a.particularities }}</v-list-item-subtitle>
                      </v-list-item-content>
                      <v-list-item-avatar tile size="100" color="grey">
                        <img :src="a.picture" />
                      </v-list-item-avatar>
                      <vue-qrcode :value="a.qrcode"/>
                    </v-list-item>
                    <v-simple-table>
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left">Libellé</th>
                            <th class="text-left">Information</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Espèce :</td>
                            <td>{{ a.type }}</td>
                          </tr>
                          <tr>
                            <td>Race :</td>
                            <td>{{ a.race }}</td>
                          </tr>
                          <tr>
                            <td>Couleur :</td>
                            <td>{{ a.color }}</td>
                          </tr>
                          <tr>
                            <td>Couleur des yeux :</td>
                            <td>{{ a.eyeColor }}</td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>

                    <v-card-actions>
                      <v-btn small color="info" :to="'/animal/' + a.qrcode">Voir l'animal</v-btn>
                      <v-btn small color="error">Supprimer l'animal</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
            
          </v-row>
          
        </v-col>
      </v-row>
      <v-row v-if="animals.length < 1" class="text-center">
        <v-col cols="12" sm="12" lg="12" >
          Aucun animal enregistré !
        </v-col>
        <v-col cols="12" sm="12" lg="12">
          <img src="../assets/img/no-animals.jpg" width="300px" />
        </v-col>
        
      </v-row>
      <v-col cols="12" sm="12" lg="12">
          <v-btn color="info" small>Ajouter un animal</v-btn>
      </v-col>
    </v-container>
    <div class="sepp"></div>
  </div>
</template>

<script>
import Cookies from "js-cookie";
import VueQrcode from '@chenfengyuan/vue-qrcode';

export default {
  middleware: 'isAuthenticated',
  components: {
    VueQrcode,
  },
  data: () => ({
    user: [],
    connect: [],
    animals: [],
    profilMenu: [{ item: "mdi-settings" }, { item: "mdi-bell" }]
  }),
  created() {
    if (Cookies.get("JWT")) {
      this.$axios.get("user/me").then(response => (this.user = response.data));
      this.$axios
        .get("user/me/animals")
        .then(response => (this.animals = response.data));
    }
    
  }
};
</script>

<style>
</style>