<template>
  <div class="player">
    <v-container class="mt-12">
      <v-row class="mt-5">
        <v-col cols="4">
          <v-card class="mx-auto text-center" outlined>
            <img :src="animal.picture" width="90%" class="mt-5" />
            <v-simple-table>
              <template v-slot:default >
                <thead >
                  <tr >
                    <th class="text-center">Libellé</th>
                    <th class="text-center">Information</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Nom :</td>
                    <td>{{animal.name}}</td>
                  </tr>
                  <tr>
                    <td>Espèce :</td>
                    <td>{{animal.type}}</td>
                  </tr>
                  <tr>
                    <td>Race :</td>
                    <td>{{animal.race}}</td>
                  </tr>
                  <tr>
                    <td>Couleur :</td>
                    <td>{{animal.color}}</td>
                  </tr>
                  <tr>
                    <td>Couleur des yeux :</td>
                    <td>{{animal.eyeColor}}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </v-col>
        <v-col cols="8">
          <v-card class="mx-auto" outlined>
            <vue-qrcode :value="animal.qrcode"/>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <div class="sepp"></div>
  </div>
</template>

<script>
import Cookies from "js-cookie";
import VueQrcode from "@chenfengyuan/vue-qrcode";

export default {
  middleware: "isAuthenticated",
  data: () => ({
    user: [],
    connect: [],
    animal: []
  }),
  components: {
    VueQrcode
  },
  async created() {
    if (Cookies.get("JWT")) {
      await this.$axios
        .get("user/me")
        .then(response => (this.user = response.data));
      await this.$axios
        .get(`user/me/animal/${this.$route.params.id}/sheet`)
        .then(response => (this.animal = response.data));
    }
  }
};
</script>

<style scoped>
</style>
